.blog {
  &__item {
    border-radius: 5px;
    box-shadow: 2px 0px 15px 5px $color-shadow;
    &--image {
      img {
        border-radius: 5px 5px 0 0;
      }
    }
    &__info {
      padding: 20px;
      .title {
        font-size: 25px;
        padding-bottom: 10px;
        &:hover {
          a {
            color: $color-primary;
          }
        }
        a {
          color: $color-dark;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      &--wrapper {
        .image {
          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
          }
          &__user {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
            p {
              display: flex;
              align-items: center;
              gap: 5px;
              margin-bottom: 0;
            }
          }
        }
        .content {
          &__header {
            margin-top: 32px;
            h1 {
              font-size: 1.875rem;
            }
          }
          &__body {
            p {
              margin-bottom: 0;
            }
          }
          &__share {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 45px 0;
            p {
              margin-bottom: 0;
            }
            ul {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 10px;
              li {
                display: flex;
                align-items: center;
                gap: 5px;
                border: 1px solid $color-border;
                border-radius: 5px;
                padding: 3px 8px;
              }
            }
          }
          &__related {
            padding-top: 60px;
            padding-bottom: 55px;
            border-top: 1px solid $color-border;
            border-bottom: 1px solid $color-border;
          }
          .comment-area {
            padding-top: 60px;
            padding-bottom: 55px;
          }
          &__comment {
            padding: 30px;
            border-radius: 5px;
            border: 1px solid $color-border;
            @include media-breakpoint-down(lg) {
              padding: 15px;
            }
            &__single {
              display: grid;
              gap: 30px;
              grid-template-columns: 60px 1fr;
              &:first-child {
                padding-top: 0;
              }
              &:last-child {
                padding-bottom: 0;
              }
              padding: 15px 0;
              &:not(:first-child) {
                border-top: 1px solid #e3e6ef;
              }
              @include media-breakpoint-down(lg) {
                gap: 15px;
              }
              &--image {
                img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                }
              }
              &--info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                .user {
                  h6 {
                    margin-bottom: 8px;
                  }
                  p {
                    margin-bottom: 0;
                  }
                }
                .reply {
                  button {
                    display: flex;
                    align-items: center;
                    border-radius: 15px;
                    padding: 5px 15px;
                    font-size: 14px;
                    border: 1px solid $color-border;
                    background-color: $color-light;
                    gap: 5px;
                  }
                }
              }
              &--area {
                .comment {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
