.hero {
    background-color: $color-secondary;
    .tab-content {
        background-color: $color-light;
    }
    &__search {
        padding: 15px;
        display: flex;
        gap: 10px;
        align-items: center;
        box-shadow: 0px 16px 40px $color-shadow;
        height: 95px;
        select {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            &:focus {
                outline: none;
            }
        }
        button {
            background-color: $color-primary;
            border: none;
            height: 100%;
            padding: 15px;
            border-radius: 5px;
        }
    }
    &__image {
        img {
            border-radius: 5px;
        }
    }
}